
*{
  
  font-family: "opensans",Arial, Helvetica, sans-serif;
}
body{
  text-align: center;
  background-color:#E8F1F2;
  
}
h1{
  font-size: 35px ;
}
h2{
  font-size: 30px;
}
h3{
  font-size: 20px;
}


/*VIDEO E AUDIO*/

iframe{
  width: 540px;
  height: 315px;
}
/*Link*/
nav{
  width: 60px;
  display: inline-block;
  font-size: 25px;
}
nav > a {
  color: black;
  text-decoration:underline;
  font-size: 40px;
}
nav > a:last-child{
  text-decoration-color: red;
}
/*Lista*/
.list1{
 
  margin: 0 auto;
 width: 60px;
  align-items: center;
  justify-content: center;
}
.list2{
  margin: 0 auto;
 width: 100px;
 align-items: center;
  justify-content: center;
}
.sep{
 align-items: center;
 border-bottom: 2px black;
 display: flex;
}

/*Tabela*/
table {
  
  width: 40%; 
  height: 50px;
  margin: 0 auto;
}

td , th {
  border: 1px black;  
  width: 50px; 
  height: 50px; 
}
tr{
  border: 1px black;
}

